/* Основной цвет текста #212121*/
/* Вторичный цвет текста #757575*/
/* Цвет фона основной #E5E5E5*/
/* Вторичный цвет фона #2F303A*/
/* Серый фон #F5F4FA*/
/* Белый #FFFFFF*/
/* Синий #2196F3*/
/* --main-font: "Roboto", sans-serif;
--accent-font: "Raleway", sans-serif; */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-background-color: #e5e5e5;
  --dark-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --time-animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section .container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: auto 15px;
  /* border-width: 1600px; */
}

.container nav {
  display: flex;
  /* display: block; */
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  transition: var(--time-animation);
}
.footer .link:focus,
.footer .link:hover {
  color: var(--accent-color);
  transition: var(--time-animation);
}

img {
  display: block;
}

/* style logo */

.logo,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .web,
.logo-footer .web {
  color: var(--accent-color);
}

/* nav-list */

.head-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* .head-icon:hover,
.head-icon:focus {
  fill: var(--accent-color);
} */

.head-link {
  display: flex;
  align-items: center;
}

.header .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: var(--time-animation);
}

.list.nav-list,
.list.aside {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  justify-content: space-between;
  transition: var(--time-animation);
}

.list.nav-list {
  color: inherit;
  width: 294px;
}
.list.aside {
  color: var(--title-text-color);
  margin-right: 15px;
}
.list.aside li:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--accent-color);
}

.current::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  bottom: -1px;
}

/* style hero */
.section.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  padding-top: 200px;
  padding-bottom: 210px;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    var(--time-animation), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero {
  font-weight: 700;
  line-height: 1.875;
  display: flex;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero:focus,
.button-hero:hover {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio {
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  background-color: var(--grey-background-color);
  padding: 6px 22px;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    var(--time-animation), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* style portfolio */

.section.cart {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list.filter {
  display: flex;
  justify-content: center;
}
.list.filter li:not(:last-child) {
  margin-right: 8px;
}

.section.cart .list.filter {
  margin-bottom: 50px;
}

.list.portfolio {
  display: flex;
  max-width: 1200px;
  flex-basis: calc((100% - 60px) / 3);
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  margin: 0 auto;
}

.list.portfolio li:nth-last-child(-n + 6) {
  margin-top: 30px;
}

.list.portfolio li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.list.portfolio a {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.list.portfolio a:hover,
.list.portfolio a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list.portfolio a:hover .add-info,
.list.portfolio a:focus .add-info {
  display: block;
  transform: translateY(0);
  animation: up 250ms linear forwards normal;
}

.add-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  transform: translateY(100%);
  animation: down 250ms linear forwards normal;
}

.add-info p {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
}

.list.portfolio .img-info {
  position: relative;
  z-index: 1;
  background-color: var(--white-color);
  width: 370px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.list.portfolio .title {
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.list.portfolio .text {
  color: var(--title-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/* principles */

.section.principles {
  padding-top: 94px;
  padding-bottom: 94px;
}

.principles ul {
  display: flex;
  justify-content: center;
}
.section.principles .list li:not(:last-child) {
  margin-right: 30px;
}

.principles-decor-icon {
  display: flex;
  background: var(--grey-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.list-subtitle,
.list-subtitle-text {
  width: 270px;
  letter-spacing: 0.03em;
  font-size: 14px;
  font-family: inherit;
  font-style: normal;
}

.list-subtitle {
  color: inherit;
  font-weight: bold;
  line-height: 1.142;
  text-transform: uppercase;
}

.list-subtitle-text {
  color: var(--title-text-color);
  font-weight: normal;
  line-height: 1.714;
  padding-top: 10px;
}

/* working */

.section.working {
  padding-bottom: 94px;
}

.headline {
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.working ul {
  display: flex;
  justify-content: center;
}

.working li {
  position: relative;
}

.list-meta h3 {
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 100%;
  padding-top: 27px;
}

.list-meta {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  z-index: 1;
}

.working li:not(:last-child) {
  margin-right: 30px;
}

/* portfolio */

.section.portfolio {
  background-color: var(--grey-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.portfolio ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

.portfolio-list > li:not(:last-child) {
  margin-right: 30px;
}
.portfolio-list > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}
.portfolio-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio-subtitle {
  color: inherit;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.portfolio-subtitle-text {
  color: var(--title-text-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.portfolio-social {
  justify-content: center;
}

.portfolio-social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  margin-top: 16px;
  margin-right: 10px;
  padding-top: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-social-icon:hover,
.portfolio-social-icon:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section client */
.section.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.client-list li:not(:last-child) {
  margin-right: 30px;
}

.client-list-icon {
  width: 170px;
  height: 92px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo-footer {
  color: var(--white-color);
}

.address {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-headline {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-list-icon {
  padding: 12px 12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-icon:hover,
.footer-list-icon:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-li:not(:last-child) {
  margin-right: 10px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.footer-list {
  display: flex;
}

.footer-social {
  margin-left: 70px;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-left: 15px;
}

.footer li:not(:last-child) {
  margin-bottom: 9px;
}

.footer .address {
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.footer-form {
  margin-left: 93px;
}

.footer-form form {
  display: flex;
}

.footer-input {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  background-color: var(--dark-background-color);
  padding: 15px 16px;
}

.button-footer-form {
  font-style: normal;
  font-weight: bold;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  width: 200px;
  padding: 10px 28px;
}

.footer-form-icon {
  margin-left: 10px;
}

/* modal window */
.modal {
  position: fixed;
  top: 0;
  left: 0%;
  transform: scale(1);
  transition: transform 250ms linear;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

[data-modal-close] {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #000000;
  cursor: pointer;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  transform: scale(0);
  transition: transform 250ms linear;
  /* opacity: 1;
  transition: opacity 1s linear; */
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  text-align: center;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.modal-form-text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  position: relative;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  transform: translateY(155%);
  left: 52px;
  z-index: 1;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus,
.modal-form-text:hover,
.modal-form-text:focus,
.modal-form-message:hover,
.modal-form-message:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* .modal-form-agree::before {
  content: '';
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
} */

.modal-form-check:checked + .modal-form-agree .modal-form-check-icon {
  /* background-image: url(../images/logo/Vector.svg); */
  background-color: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check-icon {
  left: 2px;
  top: 8px;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  display: inline-block;
  margin-right: 7px;
  fill: var(--white-color);
  vertical-align: middle;
}

.modal-form-agree {
  position: relative;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-agree a {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-button {
  padding: 10px 55px;
  width: 200px;
  margin: auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  color: var(--white-color);
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
